@{
    Layout = null;
}
<div class="sideGroup">
    <div class="sideTitle">热评文章</div>
    <div class="sideContent">
        <ul>
            <li><a href="javascript:(0)">我是怎么踏上前端这条路的<em>(20)</em></a> </li>
            <li><a href="javascript:(0)">Adobe CS6 系列软件官方正式版+破解补丁<em>(13)</em></a> </li>
            <li><a href="javascript:(0)">三个被我们遗忘的CSS技巧<em>(10)</em></a> </li>
            <li><a href="javascript:(0)">建立网站的大致流程<em>(22)</em></a> </li>
            <li><a href="javascript:(0)">WordPress 3.7正式发布！简体中文版下载<em>(30)</em></a> </li>
            <li><a href="javascript:(0)">分享三个视频<em>(52)</em></a> </li>
            <li><a href="javascript:(0)">餐饮互联网与互联网餐饮<em>(28)</em></a> </li>
            <li><a href="javascript:(0)">定位position详解:relative与absolute<em>(18)</em></a> </li>
        </ul>
    </div>

</div>
