@{
    Layout = null;
}

<div class="sideGroup">
    <div class="sideTitle">最新文章</div>
    <div class="sideContent">
        <ul>
            <li><a href="javascript:(0)">前端开发一些环境搭配笔记<em>(20)</em></a> </li>
            <li><a href="javascript:(0)">成为明星程序员的10个提示<em>(13)</em></a> </li>
            <li><a href="javascript:(0)">岁末的沉思<em>(10)</em></a> </li>
            <li><a href="javascript:(0)">2013，我想跟自己说<em>(22)</em></a> </li>
            <li><a href="javascript:(0)">PHP识别电脑还是手机访问网站<em>(30)</em></a> </li>
            <li><a href="javascript:(0)">时间会给你真相<em>(52)</em></a> </li>
            <li><a href="javascript:(0)">html5移动终端web开发之viewport<em>(28)</em></a> </li>
            <li><a href="javascript:(0)">windows下使用git管理github项目<em>(18)</em></a> </li>


        </ul>

    </div>

</div>
