@{
    ViewBag.Title = "AboutMe";
}

<section id="sun">
    <h3>关于我|潘无处不在</h3>
</section>
<article class="main clearfix">
    <article class="aboutMe col-md-offset-2 col-md-8">
        <article class="abTitle">
            <h3>关于我</h3>
        </article>
        <article class="abContent">
            我是潘无处不在，刚过弱冠之年，爱好旅行、猎奇、思考、创造，上世纪九十年代初生于中土禹州.
            在这里度过了我的幼年到少年，像大多数人一样这段时间总是快乐多于不快乐。

        </article>
    </article>
</article>



