@{
    ViewBag.Title = "BackEnd";
}


<section id="sun">
    <h3>后端|潘无处不在</h3>
</section>
<section class="main clearfix">
    <div class="mainContent col-md-8">
        <div class="col-md-offset-1 col-md-11">
            <article class="excerpt">
                <h4><a href="javascript:(0)">前端开发一些环境搭配笔记</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">很多开发者会认为要想成为一个明星程序员所需要做的事情一定都是与编程技能相关的，不过这种想法却是完全错误的！优秀的代码是很好，但要想得到更好的工作，获得更高的报酬则需要让更多的人知道你是谁。换句话说...</div>
            </article>


            <article class="excerpt">
                <h4><a href="javascript:(0)">成为明星程序员的10个提示</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">很多开发者会认为要想成为一个明星程序员所需要做的事情一定都是与编程技能相关的，不过这种想法却是完全错误的！优秀的代码是很好，但要想得到更好的工作，获得更高的报酬则需要让更多的人知道你是谁。换句话说...</div>
            </article>

            <article class="excerpt">
                <h4><a href="javascript:(0)">岁末的沉思</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">1、被激情推向别处，或被伤痛困在原地；逃离庸常想象别处，或眷恋温暖滞留原地；作为解决方案的别处，或作为解决方案的原地。一个人在哪里，去哪里，不去哪里，都有他/她充足的个人理由。 2、如果你也知道涉水而...</div>
            </article>

            <article class="excerpt">
                <h4><a href="javascript:(0)">2013，我想跟自己说</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">2013年是我非常重要的一年，在这一年里工作和生活共同构成现实，现实影响着我，我渐渐发生了改变，以下这些写给我的体会，和那些改变。有些话，我想对这一年的我说。 我想跟你说，保留你最初年少懵懂的感情，那将...</div>
            </article>

            <article class="excerpt">
                <h4><a href="javascript:(0)">PHP识别电脑还是手机访问网站</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">2013年是我非常重要的一年，在这一年里工作和生活共同构成现实，现实影响着我，我渐渐发生了改变，以下这些写给我的体会，和那些改变。有些话，我想对这一年的我说。 我想跟你说，保留你最初年少懵懂的感情，那将...</div>
            </article>
            <article class="excerpt">
                <h4><a href="javascript:(0)">如何使用Modernizr—–HTML5和CSS3开发利器</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">随着HTML5和CSS3加入越来越多的模块，检查各种浏览器是否支持这些模块，成了一大难题。Modernizr就是用来解决这个问题的一个JavaScript库。 首先，从modernizr.com下载这个库。下载的时候，可以选择所需要的模块。然后，将它...</div>
            </article>
            <article class="excerpt">
                <h4><a href="javascript:(0)">RequireJS和AMD规范，新手入门</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">RequireJS是一个工具库，主要用于客户端的模块管理，它遵守AMD规范（Asynchronous Module Definition）。 RequireJS的基本思想是，通过一个函数，将所需要的模块放入，然后返回一个新的模块，后者就在函数内部完成....</div>
            </article>
            <article class="excerpt">
                <h4><a href="javascript:(0)">50几个展示团队成员的网页设计</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">与你的客户建立良好亲密关系重要的一点就是展示你的团队，是的，这样客户能迅速了解你的团队实力，合作上方便很多。 今天我们收集了一组展示团队成员的网页布局设计，从2——4人的小团队到10——20的大集体都有优秀的范例，希望能给你带来一点灵感。 Tone ...</div>
            </article>
            <article class="excerpt">
                <h4><a href="javascript:(0)">优化，压缩RequireJS Optimizer 给传统的前端项目打包</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">r.js 本是 RequireJS 的一个附属产品，支持在 NodeJS、Rhino 等环境下运行 AMD 程序，并且其包含了一个名为 RequireJS Optimizer 的工具，可以为项目完成合并脚本等优化操作。 r.js 的介绍中明确写道它是...</div>
            </article>
            <article class="excerpt">
                <h4><a href="javascript:(0)">新年新气象,网易年终专题作品赏析</a></h4>
                <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                <div class="summary">时至新年将至，网易各大频道的年终专题策划也已纷纷上线了，做为看客的你会有怎样的感受与评价呢？接下来，让我们看看NDC的设计同学们是怎样思考以及制作这样一幅年终作品吧~ 新闻《冷新闻》 作者：谢斐 创作思路：寻找过去一些很轰动的新闻中的小人物，告诉公...</div>
            </article>
        </div>


    </div>
    <div class="sideBar col-md-3">
        @{Html.RenderAction("sideBarHotArticle", "User");}

        @{Html.RenderAction("sideBarLatestArticle", "User");}

        @{Html.RenderAction("sideBarHotLabels", "User");}
        @{Html.RenderAction("sideBarTimeStamp", "User");}


    </div>

</section>
