@{
    ViewBag.Title = "Index";
}

<section id="sun">

    <div class="content">
        <p>“只要内心不乱 外界就很难改变你</p>
        <p>不要艳羡他人 不要输掉自己”</p>
    </div>
</section>

<section id="content">
    <h1><span id="pan">潘</span>无处不在</h1>
    <div class="description">

        <p>万千程序员中的一员。</p>
        <p>专注互联网领域，对前端、后端、以及各种设计方法、设计思想颇感兴趣。</p>
    </div>


</section>
<section class="newslist clearfix">

    <section class="front-end col-md-3">
        <h4>前端</h4>
        <a class="more" href="javascript:(0)">more></a>
        <ul>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a class="text-warning" href="javascript:(0)">变身成功独立软件开发人的十五条秘诀</a></li>
            <li><a href="javascript:(0)">45个实用的JavaScript技巧、窍门和最佳实践</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>


        </ul>
    </section>
    <section class="back-end col-md-3">
        <h4>后端</h4>
        <a class="more" href="javascript:(0)">more></a>
        <ul>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">变身成功独立软件开发人的十五条秘诀</a></li>
            <li><a href="javascript:(0)">45个实用的JavaScript技巧、窍门和最佳实践</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>


        </ul>


    </section>
    <section class="by-talk col-md-3">

        <h4>杂谈</h4>
        <a class="more" href="javascript:(0)">more></a>
        <ul>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">变身成功独立软件开发人的十五条秘诀</a></li>
            <li><a href="javascript:(0)">45个实用的JavaScript技巧、窍门和最佳实践</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>


        </ul>
    </section>
    <section class="website col-md-3">
        <h4>网站</h4>
        <a class="more" href="javascript:(0)">more></a>
        <ul>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">变身成功独立软件开发人的十五条秘诀</a></li>
            <li><a href="javascript:(0)">45个实用的JavaScript技巧、窍门和最佳实践</a></li>
            <li><a href="javascript:(0)">HTML5中div section article的区别</a></li>
            <li><a href="javascript:(0)">web前端——合理的设置字体大小</a></li>


        </ul>
    </section>
</section>


@section friendLink{
    <div class="linksContent clearfix">
        <ul>
            <li><a href="http://www.sum16.com/" target="_blank">16℃·夏</a></li>
            <li><a href="http://www.1kseo.com/" target="_blank">1kSeo</a></li>
            <li><a href="http://www.iedon.com/" target="_blank">iEdon's Blog</a></li>
            <li><a href="http://www.xgllseo.com/" target="_blank">wordpress主题</a></li>
            <li><a href="http://www.asheep.cn/" target="_blank">一只羊博客</a></li>
            <li><a href="http://www.icultivator.com/" target="_blank">农夫庄园</a></li>
            <li><a href="http://www.mrbie.com/" target="_blank">别先生</a></li>
            <li><a href="http://qianduanblog.com/" target="_blank">前端博客</a></li>
            <li><a href="http://www.zhushuiwen.com/" target="_blank">建站网</a></li>
            <li><a href="http://mingming.info/" target="_blank">明明博客</a></li>
            <li><a href="http://www.vipkj.net/" target="_blank">沧月's博客</a></li>
            <li><a href="http://www.aifenx8.com/" target="_blank">空城旧梦</a></li>
            <li><a href="http://xsooo.com/" target="_blank">萧晔离's Blog</a></li>
        </ul>
    </div>

}

