@{
    ViewBag.Title = "NewsDetails";
}


<section id="sun">
    <h3>|潘无处不在</h3>
</section>
<section class="main clearfix">

    <div class="mainContent col-md-8">
        <div class="col-md-offset-1 col-md-11">
            <article>
                <article class="articleTitle">

                    <h3>人脉的真相:做好自己</h3>
                    <div class="info"><time class="time"><i class="icon-time"></i>01-20</time><span class="cat"><i class="icon-reorder"></i>前端开发</span><span class="comments"><i class="icon-comments-alt"></i>989条评论</span><span class="view"><i class="icon-eye-open"></i>56次浏览</span></div>
                </article>
                <article class="articleContent">
                    <p>我家庭一般，也没有显赫的朋友，我如何提高我的人脉。这个问题也困扰过我多年，我朴实的父母对我的教导是说，对于“有用”的朋友要主动联系。这个回答看似没有问题，大家相信也听过不少类似的回答。所以，今天我就从这个答案开始讨论下人脉的真相。</p>
                    <p>首先这个答案正确的部分是主动联系四个字，这非常重要。所有的朋友或人脉关系都是靠时间来灌溉的，而这些都是以自己的精力感情为代价的。不主动联系的结果只有一个，你会失去你的朋友。这个道理很简单，但对于天生内向不喜欢交际的我花了很大代价才最终明白的，也与一些本来不错的朋友疏远了。人脉就像花草树木，是需要主动浇水呵护才能健康成长的。</p>
                    <p>下面我想分享几点，我认为重要且容易被误解的：</p>
                    <p><strong>误区一：人脉一定要“有用”。</strong></p>
                    <p>这里的有用往往有些标签，不是有权有势，就是有某种显性的资源。但真相是，每个人身上都有你可以学习的地方，对你有益的朋友都是好的人脉。如何分辨有益？我们说益友有三，交流思想帮助成长，彼此扶持鼓励事业，沟通情感分享生命。能起到这三方面作用的朋友，应该都是我们生命中应该珍惜的宝贝，这与他现时的地位身份或是财富声名都没有关系。</p>
                    <p>
                        有人说过，每个在你生命中出现的人都有他存在的理由。而我认为其实每次相遇都是成长的机会，所以我们要珍惜每次上天给我们的因缘际会。破除“势利眼”，珍惜眼前人，在人脉中非常重要。<br>
                        人生最难得的珍宝是老友，你们彼此相识多年，理解彼此，一个微笑就能懂对方，这是可遇不可求。很多事业成功人士年老时才发现他在追逐人生竞赛的过程丢失了最重要的东西—老友。
                    </p>
                    <p><strong>误区二：要发展人脉，要千方百计认识更多人。</strong></p>
                    <p>这在各种“大师”的演讲中屡见不鲜，比如要多参加各种聚会，比如要多打电话，比如参加一次聚会一定要交换多少张名片等等。</p>
                    <p>多认识一些人，并无可厚非。但发展人脉的核心绝不在于认识更多人，而在于首先发展自己。举一个例子，你现在有李嘉诚先生的名片，可以用邮件、电话、手机随时联系到他，他是你的人脉吗？人脉更多是一种对等的交流与互助。所以有人说你的成就是你最要好三个朋友的平均值，这句话是对的，但不应该反过来理解为我要去提高我最要好三个朋友的档次，摒弃现在那些“不上档次”的朋友。而应该正过来理解为，我应该提高我自己的修养，做好我自己的事业，并帮助身边的好朋友更加成功。</p>
                    <p>我们认为多认识新朋友无可厚非，但不要成为社交动物，要留一部分时间给自己学习成长，留给自己看书、提升与思考的时间。这样随着时间推移，我们自身会更加优秀，而自然可以吸引到与我们自己同样优秀的朋友。吸引力法则在人脉中的体现是，你是怎样的人就会吸引到怎么样的朋友。</p>
                    <p>而只有你找到你自己，做到最好的自己时，世界才会找到你。</p>
                    <p><strong>误区三：人脉是为了帮助自己成功。</strong></p>
                    <p>要做生意，靠朋友呀。要解决问题，找人脉呀。人脉的传统概念是帮助我们解决问题的人。但真相是，我们得到的首先是我们付出的。即你需要得到别人的帮助，首先要做到帮助别人。</p>
                    <p>真正的人脉高手不是费尽心力让别人帮助自己的借力者，而是真心实意的一直在想着不求回报的帮助别人的人。世界是公平的，当你可以做到不求回报的帮助别人，当你需要时，世界也会帮助你。</p>
                    <p>有同学说，我没资源怎么帮助别人。新东方的俞敏洪说过他大学时因为出自农村，各方面都不如北大的同学，但他坚持做了一件事情，打了五年的水，做了五年的宿舍清洁员。多年后，他说，王强徐小平愿意与他一起共创事业的很大一个原因是当年的这五年清洁员工作。这说明如果你愿意，总有你可以帮助别人的地方。</p>
                    <p>最后用一句话结束这篇文章：</p>
                    <p>所谓人脉密诀就是，做好自己，无私助人，时间灌溉，真心真意。</p>
                </article>
                <article class="tag">
                    <span>标签:</span>
                    <ul>
                        <li><a href="#">内链</a></li>
                        <li><a href="#">网盘</a></li>
                        <li><a href="#">WEB</a></li>
                        <li><a href="#">瀑布流</a></li>
                        <li><a href="#">浏览器</a></li>
                        <li><a href="#">响应式</a></li>
                    </ul>

                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "2", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

                    <article class="clearfix"></article>
                </article>

                <article class="articleNav"> 
                    <span class="articleNavPre pull-left"> 上一篇 <a href="#">50个简历设计帮助你找到梦寐以求的工作</a></span>
                    <span class="articleNavNext pull-right">
                        <a href="#">Mac OS X下Sublime Text 2 实用快捷键</a> 下一篇
                    </span>
                    <article class="clearfix"></article>

                </article>

            </article>

            @*  <div class="comt">


                <form id="comtForm">
                    <div class="comtTitle">
                        <div class="comtAvatar pull-left"></div>
                         <div class="comtAuthor pull-left">

                             潘无处不在
                         </div>

                    </div>
                    <div class="comtCont">
                        <textarea cols="5" rows="5"></textarea>

                    </div>

                </form>
            </div>*@
        </div>
    </div>
    <div class="sideBar col-md-3">
        @{Html.RenderAction("sideBarHotArticle", "User");}

        @{Html.RenderAction("sideBarLatestArticle", "User");}

        @{Html.RenderAction("sideBarHotLabels", "User");}
        @{Html.RenderAction("sideBarTimeStamp", "User");}
    </div>
</section>
